<a href="https://colab.research.google.com/github/icebearian/Python-machinelearning/blob/main/Lec1_1_IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lập trình Python**
- Các kiểu dữ liệu và thao tác cơ bản:
  - Integer, Float,Boolean, String
  - List, Dictionary, Set, Tuple
- Cấu trúc điều khiển (rẽ nhánh)
- Cấu trúc lặp
- Function
- Class

**Float and Int**

In [1]:
x = 3
print(type(x))
print(x)
print(x+1)
print(x-1)
print(x*2)
x+=1
print(x)
x*=2
print(x)
print(x,x+5,x*2,x**2)
print(x%5, x/5,x//5)

<class 'int'>
3
4
2
6
4
8
8 13 16 64
3 1.6 1

**Boolean**

In [2]:
t = True
f = False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t != f)

<class 'bool'>
False
True
False
True

**String**

In [3]:
hello = 'hello'
world = 'world'
print(hello)
print(len(hello))
hw = hello + ' ' + world
print(hw)
hw12 = '%s %s %d' % (hello,world, 12)
print(hw12)

hello
5
hello world
hello world 12

In [4]:
s = "hello"
print(s.upper())
print(s.capitalize())
print(s.replace('l','(ell)'))
print(s.find('el'))
print('world'.strip())

HELLO
Hello
he(ell)(ell)o
1
world

**List**

In [5]:
xs = [3,2,1]
print(xs,xs[2])
print(xs[-1])
xs[2] = 'foo'
print(xs)
xs.append('bar')
print(xs)
x=xs.pop()
print(x,xs)

[3, 2, 1] 1
1
[3, 2, 'foo']
[3, 2, 'foo', 'bar']
bar [3, 2, 'foo']

In [6]:
nums = list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[:-1])
nums[2:4] = [8,9]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

**Dictionary**

In [11]:
d = {'cat': 'cute', 'dog':'furry'}
print(d['cat'])
print('cat' in d)
d['fish'] = 'wet'
print(d['fish'])
print(d.get('rat'))
print(d.get('monkey','N/A'))
print(d)

cute
True
wet
None
N/A
{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

**Set**

In [12]:
animals = {'cat','dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

**Tuple**

In [15]:
t = (5,6)
print(type(t))
a,b =t
print(a,b)
t2 = t + (7,8)
print(t2, t2[0])
#t2[0] = 4

<class 'tuple'>
5 6
(5, 6, 7, 8) 5

**Cấu trúc điều khiển**

In [16]:
temp = 60
if temp > 100:
  print("REALLY HOT")
elif temp > 85:
  print("Hot")
elif temp >= 60:
  print("comfortable")
else:
  print("cold")

comfortable

**Cấu trúc lặp trên List**

In [17]:
animals = ['cat', 'dog', 'monkey']
for i in animals:
  print(i)
for index, item in enumerate(animals):
  print("#%d: %s" % (index,item))

cat
dog
monkey
#0: cat
#1: dog
#2: monkey

**Cấu trúc lặp trên Dictionary**

In [19]:
d = {'fish': 0, 'cat': 4, 'spider': 8}
print(d['spider'])
print(d.keys())
print(d.values())
for animal, legs in d.items():
  print("A %s has %d legs" % (animal,legs))

8
dict_keys(['fish', 'cat', 'spider'])
dict_values([0, 4, 8])
A fish has 0 legs
A cat has 4 legs
A spider has 8 legs

In [20]:
nums = [0,1,2,3,4,5,6]
even_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_square)

{0: 0, 2: 4, 4: 16, 6: 36}

**Function**

In [21]:
def sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'
for x in [0,5,-1]:
  print("Input: %d, Output: %s" % (x,sign(x)))

Input: 0, Output: zero
Input: 5, Output: positive
Input: -1, Output: negative

In [23]:
def f(a,b=2,c=3):
  print('a=',a)
  print('b=',b)
  print('c=',c)
f(3,-1,1.5)
f(1)
f(1,2)
f(a=0.5,c=4)

a= 3
b= -1
c= 1.5
a= 1
b= 2
c= 3
a= 1
b= 2
c= 3
a= 0.5
b= 2
c= 4

**Class**

In [25]:
class Greeter():
  def __init__(self,name):
    self.name = name
  def greet(self, loud = False):
    if loud:
      print("Hello, %s" % self.name)
    else:
      print("Hello, %s" % self.name)
g = Greeter("VietAI")
g.greet()
g.greet(loud=True)

Hello, VietAI
Hello, VietAI